

.card{
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.card h2,h3{
  font-weight: 500;
}

table{
  margin-left: auto;
  margin-right: auto;
}

 td,th{
  border: 1px solid black;
  padding: 12px;

}
th{
  background-color: #3498db;
  color: white;

}
td{
  background-color: #ecf0f1;
}

